html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
#pagina{
    width: 100%;
    
    background-color: rgb(219, 219, 219);

}
table{
    border: none;
}
/* Centraliza div */
.centro_div{
    margin-top: 10%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#estilo_tabela{
    border-collapse: collapse;
}
#estilo_tabela thead{
    background: rgb(65, 64, 64);color:white;
}
#estilo_tabela tr:nth-child(2n){
    background: #cccccc;
}
#estilo_tabela tr,td{
    padding: 3px;
}
/*  Formata div top  e abaixo todas que 
se encontram na div TOP */
#top{
    width: 100%;
    
    position: relative;

    background: rgb(0, 0, 0,0.3);
}
#logo{
    position: relative;
    width: 100%;
    text-align: center;
}
#logo h1{
     
    line-height: 3;
}
/* formata div conteudo  e abaixo todas que sem
 encontram na div CONTEUDO*/
#conteudo{

     width: 100%;
     height: 125%;

     align-items: center;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;

     font-family: Arial, Helvetica, sans-serif;
   
}
#centro{

    width: 400;
    height: 400;

    padding: 2%;
    margin: 10%;
   

    background: rgb(255, 255, 255);

    align-items: center;

	box-shadow:9px 7px 5px rgba(50, 50, 50, 0.77);
}
#centro h1{
    text-align: center;
    margin-top: 15% ;
    color: rgb(8, 185, 111);
    font-size: 20;
    justify-content: center;
}
#centro h6 {
    text-align: center;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(8, 185, 111);
    font-size: 10;
}
#form{

    text-align: center;
    float: left;
    margin-top: 10%;
    margin-left: 25%;
}
#btn{
    margin-left: 16%;
    border-radius: 10px;
    margin-top: 10%;
    outline: 0;
    border-color:  rgb(8, 185, 111);

    background: transparent;

    color:rgb(8, 185, 111);

    font-family: Arial, Helvetica, sans-serif;
    
}
#btn:hover{
    background: rgb(9, 216, 130);
    color: rgb(19, 18, 18);
}

.lbl {
    background: rgb(230, 230, 230);
    margin-top: 4%;
    padding: 4%;
    width: 200;
    height:15;
    text-align: center;
    display: flex;
}
.lbl input {
    background:rgb(230, 230, 230);
    border: none;
    margin-left: 5%;
    width: 100%;
}
.lbl input:focus{
    outline: 0;
}

#cont_administracao h4{

    text-align: center;

    margin-top:5%;

}
/*formata conteudo Especifico e abaixo 
todas que sem encontram na div  */
#conteudo_especifico{

    width: 75%;
    height: 80%;

    margin-left: 2%;
    float: left;

    background: rgb(255, 255, 255);
    border-radius: 15px;

    box-shadow: 9px 7px 5px rgba(126, 124, 124, 0.77);
}
#conteudo_especifico h1{
    margin-top:4%;
    text-align: center;
    font-size: 45;
}
/* Conteudo da Administracao*/
#cont_administracao{

    width: 80%;
    height: 80%;
    margin-left: 10%;
    align-items: center;
}
/* Conteudo lista Funcionarios*/
#lista_fun{
    width: 100%;
    height: 80%; 
}
#cadastra_fun{
    float: right;
    margin-top: 8%;
    margin-right: 10%;
}
#volta {
    margin-right: 10%;
    margin-top: -30;
    float: right;
}
.tabela{
    margin-top: 10%;
}
.tabela_fun{
    margin-top: 15%;
    margin-left: 20%;

    padding: 20px 30px 20px 30px;
    
    font-size: 15;

    width: 60%;

    border: 1px solid black;
    border-collapse: collapse;
}
.tabela_fun tr,td { 
    border: 1px;
    border-style: solid; 
}
.esquerda{
    text-align: left;
}
.direita{
    text-align: right;
    
}
.centralizar{
    text-align: center;
}
.cadastrar{
    float: right;

    margin-top: 5%;
    margin-right:2%;
}
/* Formata exibe fun*/
#exibe_fun{
    margin-top: 10%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#exibe_dados{
    border-collapse: collapse;
    width: 400;
    padding: 7px;
}
#exibe_dados td:nth-child(1){
    background: rgb(65, 64, 64);color:rgb(255, 255, 255);
}
#exibe_dados tr:nth-child(2n){
    background: #cccccc;
}
#menor{
    width: 150;
    text-align: center;
}
#maior{
    width: 200; 
    text-align: center;
}
/* Formata altera fun */
#altera_fun{
    margin-top: 5%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#volta_fun{
    float: right;
    margin-top: 2%;
    margin-right: 10%;
}
#tabela_altera td{
    border:none;
    
}
.tabela_altera_fun{
    align-items: center;
    text-align: center;
}
#altera_esquerda{
    text-align: left;
}
/* Formata cadastra fun*/
#cadastra{
    display: inline-block;
}
#form_cadastra td{
    border: none;
    padding: 3px;
}
#form_cadastra{
    margin-top: -2%;
    float: left;
}
/* exibição de formulário do cadastro de notebooks*/
#exibe_note{
    margin-top: 10%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;	
}
/* exibir notebooks*/
#lista_note{

   width: 100%;
   height: 80%;
   

}
/* tabela de cadastro notebooks*/

/* exibição de formulário do cadastro de notebooks*/
#exibe_dados_note{

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
#exibe_note{
    margin-top: 8%;
    border-collapse: collapse;
}

#volta_exibe_note{
    margin-top: 1%;
    margin-right: -20%;
    float: right;
   
}
/* exibir notebooks*/
#lista_note{
   width: 100%;
   height: 80%; 
}
.margin{
    margin-top: 15%;
}
/* tabela de cadastro notebooks*/
#form_exibe_note textarea{
   width: 250px;
   height: 100;
   float: left;
   resize: none;
}
#form_exibe_note td{  
    vertical-align: middle;
    border: none;
}
#menor2{
    width: 90;
    
}
.centro_tabela{
    margin-left: 20%;
}
/* Formata A parte de vendas*/
#fila_compra{
    float: left;
    margin-left: 20%;
    margin-top: 4%;
}
#finalizar{
    float: left;
    margin-left: -22%;
    margin-top:8%;
}
#fechar_recibo{
    float: left;
    margin-top: 5%;
    margin-left: 20%;
}
/**/
/* formata rodape e abaixo todas 
que sem encontram na div rodape */
#rodape{ 
    width: 100%;
    height: 75;
    background: rgb(0, 0, 0,0.3);
}